# Data ScienceTools and Ecosystem

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

## introduction
In this notebook Data Science Tools and Ecosystem are smmarized

**Objectives**
* Python
* SQL
* R

## list Data Science language
some of the popular languages that Data Scientists use are
1. Python
2. R
3. SQL

## list of libraries
some of the commonly used libraries used by Data Scientists are:
1. Pandas
2. Numpy
3. Seaorn

## Table of Data Science
| Data Science tools |
 |--------|
 | SQL |
  | Numpy |
 | PyTorch |

### Below are the few examples of evaluating arthimetic expressions in Python

In [4]:
# This is the simple arthematic expression that multiply 3 and 4 then adds 5
(3*4)+5

17

In [5]:
# This will convert 200 minute to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Ayesha Waseem